html {
    height: 100%;
    width: 100%;

    overflow-x: hidden;
    user-select: none;
  }
body{
    background-color: black;
}
#Display{
    background-color: rgb(245, 245, 255);
    width: 600px;
    height: 900px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    opacity: 0.82;
}
#MinesLayer{
    margin-right: 9%;
}
#TimeLayer{
    margin-Left: 9%;
}
.BottomLayer{
    display: inline-block;
    background-color: rgb(230, 230, 245);
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 3px 3px 3.5px 1px rgba(0,0,0,0.35);
}
#MineLayer{
    margin-right: 25%;
    
}
.Icons{
    font-size: 24pt;
}
/* #TopBar{

} */
#Status{
    font-size: 32pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Counters{
    font-size: 22pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Field{
    background-color: rgb(230, 230, 245);
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 3px 3px 3.5px 1px rgba(0,0,0,0.35);
    margin: 9.5px;
    margin-top: 25px;
}
td{
    background-color: rgb(245, 245, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    box-shadow: 3px 3px 3.5px 1px rgba(0,0,0,0.35);
    width: 55px;
    height: 55px;
    font-size: 26pt;
    transition: all 0.3s;
    opacity: 1;
}
td:hover{
    box-shadow: 3px 3px 3.5px 3px rgba(0,0,0,0.55);
    transform: scale(1.1,1.1);
}
table{
    border-spacing: 3px;
}
fieldset{
    border-radius: 5px;
    border-style: dashed;
}
legend{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
button{
    border: 0px;
    border-radius: 3px;
    background-color: #1a5ca1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
input[type=number]{
    border-radius: 5px;
    border: 0.1px solid #4d7caf;
    border-bottom: 3px solid #1a5ca1;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
}
#BackgroundDim{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.65);
    /* display: flex; */
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#PopupWindow{
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
    width: 500px;
    height: 350px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 55px 15px rgba(0,0,0,0.55);
}
.InputBox{
    margin: 10px;
}
.PopupLabel{
    font-size: 14pt;
}
.PopupButton{
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 8px;
    font-size: 16pt;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.35);
    transition: all 0.3s;
}
.PopupButton:hover{
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 8px;
    font-size: 16pt;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.85);
}